@import "tailwindcss";
@import 'aos/dist/aos.css';


.perspective{
perspective:1000px;
}

.transform-style-preserve-3d{
transform-style:preserve-3d;
}

.backface-hidden{
backface-visibility:hidden;
}

.rotate-y-180{
transform:rotateY(180deg);
}

.group-hover\:rotate-y-180:hover{
transform:rotateY(180deg);
}


/* Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}